
$sliderBg : #fcfcfc;

$navBg : #2A2A2A;

$primaryBg : #ffffff;

$bostBg : #fafafa;

$workBg : #fcfcfc;

$contactBg : #fcfcfc;

$mapBg : #fcfcfc;

$footerBg : #212121;




/******* Features icon color *****/
$iconColor1 : #74C8B8;
$iconColor2 : #EC768C;
$iconColor3 : #EBD176;
$iconColor4 : #31AAE1;
$iconColor5 : #74C8B7;
$iconColor6 : #728AC8;
$iconColor7 : #C183D6;
$iconColor8 : #31A9E1;
$iconColor9 : #4AE3A3;

$fontColor : #FEFEFE;




$primaryMarginTop:100px;
$secondaryMarginTop:165px;



$primaryFontSize : 90px;




/*
.fa-lock{background-color:$iconColor1;}
.fa-microphone{background-color:$iconColor2;}
.fa-laptop{background-color:$iconColor3;}
.fa-lightbulb-o{background-color:$iconColor4;}
.fa-link{background-color:$iconColor5;}
.fa-bell-o{background-color:$iconColor6;}
.fa-cog{background-color:$iconColor7;}
.fa-paper-plane{background-color:$iconColor8;}
.fa-camera{background-color:$iconColor9;}*/




/*.aboutEnllaxText{
  position: absolute;
  top: -100px;
  left: 557px;
  z-index: -1;
  h1{
    @include sectionShadowText;

  }
}*/



/*
<div class="expertEnllaxText text-center">
<h1 data-enllax-ratio="1.5" data-enllax-type="foreground">Expert</h1>
</div>*/
